@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@layer components {
  h1 {
    @apply text-5xl font-black;
  }
  
  h2 {
    @apply text-2xl font-extrabold;
  }
  
  h3 {
    @apply text-xl font-medium;
  }

  a {
    @apply underline;
  }

  body {
    @apply text-zinc-900;
  }
}

body {
  background: var(--background);
  font-family: var(--font-main), Helvetica, sans-serif;
}